yfinance==0.2.40
pandas==2.2.2
pandas-ta==0.4.67b0
numpy==1.26.4
vaderSentiment==3.3.2
feedparser==6.0.11
requests==2.31.0
streamlit==1.35.0
plotly==5.22.0
python-dotenv==1.0.1
pytz==2024.1
schedule==1.2.2
